.leftheader {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    padding-top: 0;
}

.leftheaderblock {
    text-align: center;
    padding: 10px;
}

.rightheader {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 50px;
    right: 0px;
    position: absolute;
    top: 20px;
}

.rightheaderblock {
    text-align: center;
    margin: 0 auto;
    margin-right: 16px;
}

#google_logo {
    display: block;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 30px;
}

.search {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.searchbar { 
    width: 100%;
    border: solid 1px rgb(228, 228, 228);
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
}

.searchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223, 225, 229, 0);
}

.sbc {
    width: 500px;
    height: 50px;
}

.sgc { 
    display: flex;
    align-items: center;
}

.searchglass {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    padding-bottom: 35px;
    padding-left: 5px;
}

.svc {
    display: flex;
    align-items: center;
}

.searchvoice {
    display: inline-block;
    width: 24px; 
    height: 24px;
    position: absolute;
    padding-left: 470px;
    padding-bottom: 35px;
    padding-right: 5px;
}


.submit {
    margin: 0 auto;
    display: block;
    width: 270px;
}

.submitbutton1 {
    width: 120px;
    right: 50px;
    margin-top: 10px;
    margin-right: 10px;
    color: #5f6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    height: 36px;
}

.submitbutton2 {
    width: 130px;
    margin: 0 auto;
    top: 0;
    color: #5f6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    height: 36px;
}

.submitbutton1:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.submitbutton2:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.topfooter {
    display: block;
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    border: 1px black;
    border-top: solid 1px rgb(228, 228, 228);
    border-bottom: solid 1px rgb(228, 228, 228);
}

.topfooterblock {
    padding-top: 0px;
    text-align: center;
    width: 100px;
    padding-left: 30px;
    bottom: -8px;
    position: absolute;
}

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    border-top: solid 1px rgb(228, 228, 228);
    border-bottom: solid 1px rgb(228, 228, 228);
}

.leftfooter {
    display: grid;
    position: absolute;
    bottom: 10px;
    left: 30px;
    grid-template-columns: repeat(2, 100px) 150px;
    grid-template-rows: 30px;
}

.leftfooterblock {
    padding: 10px;
    text-align: center;
    padding-top: 20px;
}

.rightfooter {
    position: absolute;
    right: 50px;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: 30px;
}

.rightfooterblock {
    text-align: center;
    padding-top: 20px;
}